*{
    font-family: Courier New, monospace;
    color: #15ff00;
}

::-webkit-scrollbar {
    width: 4px; /* ancho del scrollbar */
    
}

::-webkit-scrollbar-track {
    background: #021400;

}

::-webkit-scrollbar-thumb {
    background: #15ff00;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #15ff00;

    background-image: url('recursos/NvN.gif'); 
    background-size:cover;
    background-position: center;
}

.navbar {
    background-color: #000000;
    border: 1px solid #15ff00;
    color: #15ff00;
    padding: 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    color: #15ff00;
    text-decoration: none;
}

.navbar-logo img {
    height: 40px; 
    width: auto; 
    display: block;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.navbar-menu li a {
    color: #15ff00;
    text-decoration: none;
    font-size: 16px;
}

.navbar-menu li a:hover {
    text-decoration: underline;
}

/* Contenedor de la Sección de Filtros */
.container {
    background-color: #000000;
    margin: 20px;
    border:1px solid #15ff00 ;
}

.container h2 {
    margin: 0;
    padding: 5px;
    border-bottom:1px solid #15ff00 ;
}

#sells-filter {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
#sells-filter label {
    font-size: small;
}

#sells-filter input[type="date"],
#sells-filter select {
    padding: 6px;
    border: 1px solid #15ff00;
    background-color: #000000;
    width: 200px;
}
#sells-filter input[type="date"],
#sells-filter select:focus {
    outline: none; 
    color: #15ff00;
}

#sells-filter button {
    margin-top: 15px;
    background-color: #000000;
    color: #15ff00;
    border: none;
    cursor: pointer;
}
#sells-filter button:hover {
    text-decoration: underline;
}

.sells{
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow-y: auto;
    max-height: 517px;
}

.sells-title{
    border:1px solid #15ff00 ;
    margin-bottom: 20px;
    background-color: #000000;
}

.sells-income{
    border:1px solid #15ff00 ;
    background-color: #000000;
}
.sells-income h3{
    border-bottom:1px solid #15ff00 ;
    margin: 0;
}
.sells-income p{
    padding-left: 10px;
}

.sells h2{
    margin: 0;
    padding: 5px;
    border-bottom:1px solid #15ff00 ;
    font-size: larger;
}

.sells h3{
    font-size: larger;
    padding: 10px;
}


.sells table {
    background-color: #000000;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.sells table, .sells th, .sells td {
    border: 1px solid #15ff00;
    padding: 8px;
    text-align: left;
}


.footer {
    background-color: #000000;
    border: 1px solid #15ff00;
    text-align: center;
    padding: 10px 0;
}
